/*universal selector */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-size: 20px;
    color: darkgreen ;
}
#Copyright {
    color: darkgreen;
    font-size: 2rem;
}
/* header and footer*/
header,footer {
    background-image: linear-gradient(to right,green,yellow)
}
